* { 
 position: relative;
 font-family: Poppins;
 z-index: 2;       
}
.text {
 padding-top: 100px;
}
.logo {
 margin-right: 0px;
 padding-left: 50%;
 width: 100%;
 font-family: Poppins;
 color: #6070FF;
 font-size: 18px;       
}
.top {
 width: 100%;
 position: fixed;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 top: 4px;
 z-index: 3;
}
.menuhover {
 padding: 7px;
 margin-right: 30px;
 margin: 10px;
 margin-top: 13px;
 width: 15%;   
}
.menuhov {
 border: none;
 background-color: inherit;
 color: #6070FF;  
}
.intro {
 width: 100%;
}
.text {
 font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 130%;
 padding-right: 24px;
 padding-left: 24px;
 padding-bottom: 12px;
 color: #172B4D;
 margin-bottom: 0;
 z-index: 2;
}
.text2 {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 150%px;
 padding-right: 24px;
 padding-left: 24px;
 color: #344563;
 width: 90%;
 margin-top: 0;
 margin-bottom: 12px;   
}
.connect {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 color: #7F8CFF;
 padding-left: 24px;
 margin-top: 0px;
 z-index: 2;
}
.icons {
 display: flex;
 flex-direction: row;
 padding-left: 24px;
}
.icons div {
 padding-right: 20px;
 font-size: 20px;
 color: #505F79;
}
.background {
 display: flex;
 position: fixed;
 z-index: 0;
 width: 100%;
}
.background img {
 z-index: 0;
 width: 100%;
}